.navbar {
  display: flex;
  position: sticky;
  top: 0;
  color: #fff;
  padding: 10px 0px;
  background: rgb(29, 190, 56);
  /* height: 50px;s */
  justify-content: space-around;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.signin {
  margin: 0 auto;
  max-width: 320px;
  padding: 15px;
  /* height: 100%;

  width: 100%; */
}
.body {
  background-color: rgb(149, 209, 88);
}

.nav-left {
  display: flex;
  justify-content: flex-center;
  text-align: left;
  margin: 10px;
  justify-content: space-evenly;

  /* /* alignSelf: flex-to; */
}

.navbar input {
  height: 33px;
  width: 600px;
  outline: none;
  border-radius: 5px;
  border: black 1px solid;
  padding-left: 10px;
}
@media (max-width: 1150px) {
  .navbar input {
    width: 400px;
  }
}
@media (max-width: 750px) {
  .navbar input {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .navbar input {
    width: 200px;
  }
}
@media (max-width: 460px) {
  .navbar input {
    width: 120px;
  }
}
